{% extends 'base/base.html' %}
{% block nom %}
    Borrar
{% endblock %}
{% block contenido %}
<div class="container">
    <a href="{% url 'hora_list' %}">Regresar</a>
</div>
<div style="margin-top: 2%;" class="container" align="center">
    <br><br>
    <form method="post">
        {% csrf_token %}
        <h1>Estas segurp de eliminar {{ hora.hora }}:{{ hora.minuto }} de la lista </h1>
        <br><br>
        <button class="btn btn-danger" type="submit" >Si, porfavor</button>
        <a class="btn btn-primary" href="{% url 'hora_list' %}">No, gracias</a>
    </form>
</div>
{% endblock %}