{% extends 'base/base.html' %}
{% block nom %}
    Lista de tiempos
{% endblock %}
{% block contenido %}
    <div class="container">
        <a href="{% url 'hora_create' %}" class="button">Agregar horario</a>        
    </div>
    <div align="center" class="container">
        <br><br>
        <table align="center" class="table table-border">
            <thead>
                <tr>
                    <td>#</td>
                    <td>Hora</td>
                    <td>Usuario a notificar</td>
                    <td>Acciones</td>
                </tr>
                <tbody>
                    {% if hora %}
                    {% for horas in hora %}
                    <tr>
                        <td> {{ horas.id }} </td>
                        <td> {{ horas.hora }}:{{horas.minuto}} </td>
                        <td> {{ horas.id_usuario }} </td>
                        <td>
                            <a class="btn btn-primary" href="{% url 'hora_edit' horas.id %}">Editar</a>
                            <a class="btn btn-danger" href="{% url 'hora_delete' horas.id %}">Eliminar</a>
                        </td>

                    </tr>
                    {% endfor %}
                    {% else %}
                    <h1>No hay horas agregadas</h1>
                    {% endif %}
                </tbody>
            </thead>
        </table>
    </div>
{% endblock %}